/* Global ===================================*/
:root{
   --dark-blue: #363f5f;
   --green: #3a8021;
   --light-green: #3DD705;
}
*{ /*seletor universal*/
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

html{
   font-size: 93.75%; /* 15px*/
}

body{
   background: #F0F2F5;
   font-family: 'Noto Sans JP', sans-serif;
}

.sr-only{
   /*classe para esconder os elementos da tela porém os mantendo nos leitores de tela*/
   position: absolute;
   width: 1px;
   height: 1px;
   padding: 0;
   margin: -1px;
   overflow: hidden;
   clip: rect(0, 0, 0, 0);
   white-space: nowrap;
   border-width: 0;
}

.container{
   width: min(90vw, 800px);
   margin: auto;
   /*o valor 'auto' tenta balancear os espaços nas laterais do elemento*/
}
/* Titles ===================================*/
h2{
   margin-top: 3.2rem;
   margin-bottom: 0.8rem;
   color: var(--dark-blue);
   font-weight: normal;
}
/* Links & Buttons ===================================*/
a{
   color: var(--green);
   text-decoration: none;
}
a:hover{
   color: var(--light-green);
}

button {
   width: 100%;
   height: 50px;
   border: none;
   color: white;
   background: var(--green);
   padding: 0;
   border-radius: 0.25rem;
   cursor: pointer;
   /*'mãozinha' ao acessar o elemento*/
}

button:hover {
   background: var(--light-green);
}


.button.new {
   display: inline-block;
   /*Mantém as características de um elemento inline E block*/
   margin-bottom: .8rem;
}

.button.cancel {
   color: #E92929;
   border: 2px #E92929 solid;
   border-radius: 0.25rem;
   height: 50px;
   display: flex;
   align-items: center;
   justify-content: center;
   opacity: 0.6;
}

.button.cancel:hover {
   background: #f06666;
   color: white;
}


/* Header ===================================*/
header{
   background: #2d4a22;
   padding: 2rem 2rem 6rem;
   /*Quando há três parâmetros: (cima, laterais, embaixo)*/
   text-align: center;
}
 #logo{
   color: #fff;
   font-weight: 100;
   /*"leveza" da fonte*/
}

/* Balance ===================================*/
#balance{
   margin-top: -6rem;
}

#balance h2{
   color: white;
   margin-top: 0;
}
/* Cards ===================================*/
.card{
   background: white;
   padding: 1.5rem 2rem;
   border-radius: 0.25rem;
   margin-bottom: 2rem;
   color: var(--dark-blue);
}

.card h3{
   font-weight: normal;
   font-size: 1rem;
   display: flex;
   align-items: center;
   justify-content: space-between;
}

.card p {
   font-size: 2rem;
   line-height: 3rem;
   margin-top: 1rem;
}

.card.total{
   background: #49aa26;
   color: white;

}
/* Table ===================================*/
#transaction{
   display: block;
   width: 100%;
   overflow-x: auto;
}
#data-table {
   width: 100%;
   border-spacing: 0 0.5rem;
   /*eixo horizontal 0, eixo vertical 0.5*/
   color: #969cb3;
}

table th{
   background: white;
   font-weight: normal;
   padding: 1rem 2rem;
   text-align: left;
}

table thead tr th:first-child,
table tbody tr td:first-child {
   border-radius: 0.5rem 0 0 0.5rem;
}

table thead tr th:last-child,
table tbody tr td:last-child {
   border-radius: 0 0.25rem 0.25rem 0;
}

table tr{
   opacity: 0.7;
}
table tr:hover{
   opacity: 1;
}

table td{
   background-color: white;
   padding: 1rem 2rem;
   font-weight: normal;
}

td.description {
   color: var(--dark-blue);
}

td.income{
   color: #12a454;
}

td.expense{
   color: #e92929;
}
/* Modal ===================================*/
.modal-overlay {
   width: 100%;
   height: 100%;
   background-color: rgba(0, 0, 0, 0.7);
   position: fixed;
   top: 0;
   display: flex;
   align-items: center;
   justify-content: center;
   opacity: 0;
   visibility: hidden;
   z-index: 999;
}

.modal-overlay.active{
   opacity: 1;
   visibility: visible;
}

.modal {
   background: #F0F2F5;
   padding: 2.4rem;
   position: relative;
   z-index: 1;
}

/* Form ===================================*/
#form {
   max-width: 500px;
}

#form h2 {
   margin-top: 0;

}

input {
   border: none;
   border-radius: 0.2rem;
   padding: 0.8rem;
   width: 100%
}
.input-group {
   margin-top: 0.8rem;
}

.input-group small {
   opacity: 0.4;
}

.input-group.actions {
   display: flex;
   justify-content: space-between;
   align-items: center;
}

.input-group.actions .button,
.input-group.actions button {
   width: 48%;
}

/* Footer ===================================*/
footer {
   text-align: center;
   padding: 4rem 0 2rem;
   color: var(--dark-blue);
   opacity: 0.6;
}

/* Responsive ===================================*/
@media (min-width: 800px) {
   html{
      font-size: 87.5%; /* 14 */
   }

   #balance{
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 2rem;

   }
}
